<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="InputDatabase" connectionString="Data Source=54.209.249.65,62565;Initial Catalog=master;Persist Security Info=True;User ID=sa; Password=ssi-2016" />
    <add name="OutputDatabase" connectionString="Data Source=52.70.91.158,49156;Initial Catalog=master;Persist Security Info=True;User ID=sa; Password=ssi-2014" />
  </connectionStrings>
</configuration>